.container-advantages {
    width: 100%;
    margin: 0 auto;
    padding: 0px 70px 0px 20px;
    @media screen and (min-width: 480px) {
        max-width: 480px;
    }
    @media screen and (min-width: 768px) {
        max-width: 768px;
        padding: 0px 76px 0px 36px;
    }
    @media screen and (min-width: 1280px) {
        max-width: 1280px;
        padding: 0px 115px;
    }
}
.advantages-section {
    background-color: getColor('bg-secondary');
    padding-top: 39px;
    padding-bottom: 140px;
}
.advantages-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -60px;
    }
    @media screen and (min-width: 1280px) {
        margin-left: -30px;
    }
}
.advantages-item {
    position: relative;
    margin-bottom: 38px;
    max-width: 230px;
    @media screen and (min-width: 768px) {
        width: calc((100% - 180px) / 3);
        margin-left: 60px;
        margin-bottom: 0px;
    }
    @media screen and (min-width: 1280px) {
        width: calc((100% - 90px) / 3);
        max-width: 100%;
        margin-left: 30px;
        margin-bottom: 0px;
    }
}
.advantages-amount {
    display: block;
    font-family: Titan One;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    color: getColor('highlighted-text-color');
    margin-bottom: 16px;
    margin-top: 16px;
    @media screen and (min-width: 768px) {
        font-weight: 400;
        font-size: 48px;
        line-height: 1.14;
        letter-spacing: 0.04em;
        margin-bottom: 13px;
        margin-top: 36px;
    }
    @media screen and (min-width: 1280px) {
        font-weight: 400;
        font-size: 58px;
        line-height: 1.13;
        letter-spacing: 0.04em;
        margin-bottom: 15px;
        margin-top: 40px;
    }
}
.advantages-content {
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    padding-top: 50px;
    @media screen and (min-width: 768px) {
        font-weight: 700;
        font-size: 14px;
        line-height: 174%;
    }
    @media screen and (min-width: 1280px) {
        font-weight: 700;
        font-size: 16px;
        line-height: 176%;
        letter-spacing: 0.02em;
    }
}
.milk-icon {
    &::before {
        position: absolute;
        content: '';
        background-image: url(../images/advantage-milk.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/advantage-milk-2x.png);
        }
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 33px 50px;
    }
}
.apple-icon {
    &::before {
        position: absolute;
        content: '';
        background-image: url(../images/advantage-apple.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/advantage-apple-2x.png);
        }
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 50px 50px;
    }
}
.heart-icon {
    ::before {
        position: absolute;
        content: '';
        background-image: url(../images/advantage-heart.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/advantage-heart-2x.png);
        }
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 44px 50px;
    }
}
