.container-header {
    @media screen and (min-width: 320px) {
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 6px;
        padding-bottom: 6px;
        max-width: 480px;
    }

    @media screen and (min-width: 768px) {
        margin: auto;
        padding-left: 34px;
        padding-right: 34px;
        padding-top: 37px;
        padding-bottom: 37px;
        max-width: 768px;
    }

    @media screen and (min-width: 1280px) {
        margin: auto;
        padding-left: 115px;
        padding-right: 115px;
        padding-top: 37px;
        padding-bottom: 37px;
        max-width: 1280px;
    }
}
.container {
    margin: auto;
    position: relative;
}
@media screen and (min-width: 320px) {
    .container-header {
        // max-width: 320px;
        padding-top: 6px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 768px) {
    .container-header {
        max-width: 768px;
        padding-top: 37px;
        padding-left: 34px;
        padding-right: 34px;
    }
}

@media screen and (min-width: 1280px) {
    .container-header {
        max-width: 1280px;
        padding-top: 37px;
        padding-left: 115px;
        padding-right: 115px;
    }
}
