.contacts-section {
    width: 100%;
    padding: 86px 30px 113px 30px;
    background-image: linear-gradient(to bottom, #ffffff 10%, #fff5f6 10%);
    @include tab {
        background-image: linear-gradient(to bottom, #ffffff 21%, #fff5f6 21%);
        padding: 119px 16px 158px 16px;
    }
    @include desk {
        padding: 132px 0 165px 0;
        background-image: url(../images/contacts-bg.png),
            linear-gradient(to bottom, #ffffff 1%, #fff5f6 1%);
        background-repeat: no-repeat;
        background-position: 50% 210px;
        background-size: contain;
    }
}

.contacts-cards-list {
    margin: -20px;
    margin-bottom: 54px;
    @include tab {
        display: flex;
        margin: -10px;
        margin-bottom: 81px;
    }
    @include desk {
        margin: -15px;
        margin-bottom: 86px;
        justify-content: center;
    }
}

.contacts-cards-item {
    background: getColor('bg-primary');
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 43px 21px 43px 20px;
    margin: 20px;
    @include tab {
        margin: 10px;
    }
    @include desk {
        margin: 15px;
        width: 330px;
    }
}

.contacts-card__pre-title {
    width: 80px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: getColor('white-text');
    margin-bottom: 25px;
    border-radius: 4px;
    background-color: #f0d1a5;
    @include tab {
        font-size: 16px;
        width: 73px;
        height: 28px;
    }
    &-2nd {
        width: 130px;
        background: #c2e297;
        @include tab {
            width: 138px;
        }
    }
}

.contacts-card__title,
.contacts-card-schedule__title,
.contacts-card-schedule__content {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: getColor('black-text');
    @include tab {
        font-size: 14px;
    }
    @include desk {
        font-size: 16px;
    }
}

.contacts-card-schedule__content {
    color: getColor('secondary-text-color');
}

.contacts-card__after-title {
    margin-top: 10px;
    margin-bottom: 25px;
}

.contacts-card-schedule-list {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.contacts-card-schedule-item:first-child {
    margin-bottom: 10px;
}

.contacts-card__after-title,
.contacts-card-contacts__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: getColor('gray-text');
    @include tab {
        font-size: 14px;
        line-height: 1.66;
    }
    @include desk {
        font-size: 16px;
        line-height: 1.83;
    }
}

.contacts-card-contacts__link {
    @include tab {
        line-height: 1.83;
    }
}

.contacts-card-contacts-list {
    margin-top: 25px;
}
// -----------------------------------------BUTTONS
.contacts-btn-list {
    @include tab {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

.contacts-btn-item {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    @include tab {
        margin-top: 0;
        margin-left: 15px;
    }
}

.contacts-btn {
    width: 161px;
    height: 44px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.31;
    color: getColor('white-text');
    background: #d41342;
    border: 0;
    border-radius: 22px;
    margin-left: auto;
    margin-right: auto;
}

.contacts-white-btn {
    background-color: getColor('white-bg-btn');
    color: getColor('highlighted-text-color');
    &:hover {
        background-color: getColor('hover-white-bg-btn');
    }
}

.contacts-btn__icon1 {
    margin-left: 8px;
    width: 5.51px;
    height: 10px;
}

.contacts-btn__icon2 {
    margin-left: 13px;
    width: 6.3px;
    height: 10px;
}
