.footer-section {
    background-color: getColor('bg-secondary');
}

.footer-section__text {
    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.14;
    text-transform: uppercase;
    color: getColor('secondary-text-color');

    @media screen and(min-width:768px) {
        font-size: 26px;
    }
    @media screen and(min-width:1280px) {
        font-size: 30px;
    }
}

@media screen and(min-width:1280px) {
    .gap {
        display: none;
    }
}

.telegram-icon {
    margin-right: 2px;
}

.footer-section__title-part {
    display: block;
    margin-top: 17px;
    margin-bottom: 43px;
    font-size: 34px;
    color: getColor('color-bg-btn');

    @media screen and(min-width:768px) {
        font-size: 48px;
        margin-bottom: 0;
    }

    @media screen and(min-width:1280px) {
        font-size: 58px;
    }
}

.footer-section__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 46px;
    @media screen and(min-width:1280px) {
        margin-bottom: 50px;
    }
}

.footer-section__list-item {
    width: 32px;
    height: 32px;
    &:not(:last-child) {
        margin-right: 28px;
    }
    @media screen and (min-width: 768px) {
        width: 34px;
        height: 34px;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    @media screen and (min-width: 1280px) {
        &:not(:last-child) {
            margin-right: 24px;
        }
    }
}

.footer-icon {
    width: 20px;
    height: 20px;
}

.footer-section__contacts {
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    margin-bottom: 43px;

    @media screen and(min-width:768px) {
        font-size: 14px;
        margin-bottom: 0;
    }
    @media screen and(min-width:1280px) {
        font-size: 16px;
    }
}

.footer-section__tel {
    color: getColor('highlighted-text-color');
    margin-left: 5px;
    @media screen and(min-width:768px) {
        font-size: 14px;
    }
    @media screen and(min-width:1280px) {
        font-size: 16px;
    }
}

.footer-section__copyright {
    display: flex;
    justify-content: center;
    border-top: 1px solid #e1e1e1;

    @media screen and(min-width:768px) {
        margin-top: 91px;
    }
}
.footer-section__copyright-text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    width: 134px;
    text-align: center;
    padding-top: 22px;
    color: getColor('gray-text');
    padding-bottom: 25px;
    @media screen and(min-width:768px) {
        padding-top: 29px;
        padding-bottom: 18px;
        width: 100%;
    }
    @media screen and(min-width:1280px) {
        padding-top: 9px;
        padding-bottom: 10px;
        width: 100%;
    }
}

.footer-text_item {
    margin-bottom: 16px;
}

.footer-text__item {
    padding-bottom: 43px;
    @media screen and(min-width:768px) {
        padding-bottom: 91px;
    }
    @media screen and(min-width:1280px) {
        margin-left: 10px;
        padding-bottom: 0px;
    }
}

.footer-container {
    @media screen and(min-width:768px) {
        display: flex;
        justify-content: space-between;
    }
}

.footer-section__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-item_list {
    @media screen and(min-width:1280px) {
        display: flex;
    }
}

.footer-item_list_text {
    @media screen and(min-width:1280px) {
        padding-bottom: 97px;
    }
}

.footer-section__list-link {
    background-color: getColor('social-bg');
    border-radius: 50%;
    margin-right: 28px;
    width: 32px;
    height: 32px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: getColor('hover-color-bg-btn');
    }
}
