@use 'sass:map';

body {
    margin: 0;
}

.page-header {
    background-color: getColor('bg-hero');
}

.page-header__wrapper {
    display: flex;
}

.page-header__open-modal-btn {
    animation: pulsing 2.5s infinite;
}

.page-header__logo {
    animation: shake 1000ms;
    display: flex;
    align-items: center;
    font-family: Titan One;
    color: getColor('color-bg-btn');
    font-size: 30px;
}

.page-header__logo-img {
    margin-right: 25px;
}
@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes pulsing {
    0% {
        transform: scale(0.8, 0.8);
    }
    50% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(0.8, 0.8);
    }
}

.container-header {
    position: relative;
}

.page-header__open-menu-btn {
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.page-header__open-modal-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__open-modal-btn:hover {
    background-color: getColor('hover-white-bg-btn');
}

@media screen and (max-width: 1279px) {
    .backdrop-menu.is-open .page-header__menu {
        transform: translateX(0);
    }

    .page-header__menu {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100vh;
        z-index: 10;
        background-color: getColor('bg-mob-menu');
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .is-open {
        display: block;
    }
}

.page-header__close-btn {
    display: block;
    background-color: transparent;
    border: none;
    margin-left: auto;
    cursor: pointer;
    padding-top: 23px;
    padding-right: 28px;
}

.page-header__open-modal-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 23px;
    margin-bottom: 19px;
    width: 209px;
    height: 44px;
    border-radius: 22px;
    background-color: getColor('white-bg-btn');
    color: map.get($colors, 'color-bg-btn');
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
}

.header-btn {
    display: none;
}

.btn-icon {
    margin-left: 15px;
}

.navigation-list__link {
    color: getColor('white-bg-btn');
}

.navigation-list__item {
    font-size: 14px;
    line-height: 1.28;
    font-weight: 700;
    border: 1px solid getColor('line');
    padding-left: 21px;
    z-index: 2;
}

.navigation-list__link {
    padding-top: 13px;
    padding-bottom: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
}
.navigation-list {
    z-index: 2;
    font-size: 14px;
    line-height: 1.28;
    font-weight: 700;
}

.navigation-list__link:hover,
.navigation-list__link:focus {
    color: getColor('color-bg-btn');
}

/* Tablet */

@media screen and (min-width: 768px) {
    .page-header__menu {
        min-width: 254px;
        width: 50%;
    }

    .page-header__open-menu-btn {
        z-index: 1;
    }

    .page-header__open-modal-btn {
        width: 186px;
        height: 44px;
    }

    .navigation-list__item {
        padding-left: 24px;
    }

    .header-btn {
        display: block;
        margin: 0;
        margin-left: 30px;
        width: 160px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-btn:hover,
    .header-btn:focus {
        background-color: getColor('hover-white-bg-btn');
    }

    .btn-icon {
        margin-left: 12px;
    }
}

/* Desktop */

@media screen and (min-width: 1280px) {
    .page-header__open-menu-btn,
    .page-header__close-btn,
    .page-header__open-modal-btn {
        display: none;
    }

    .header-btn {
        display: block;
    }

    .navigation-list__item {
        border: none;
        font-size: 16px;
        line-height: 1.31;
        padding: 0;
        margin-right: 35px;
    }

    .navigation-list__item:last-child {
        margin-right: 0;
    }

    .navigation-list,
    .container-header {
        display: flex;
    }

    .page-header__navigation {
        margin-left: 110px;
    }

    .page-header__menu {
        width: 100%;
    }

    .header-btn {
        position: absolute;
        right: 115px;
        margin-left: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-btn:hover,
    .header-btn:focus {
        background-color: getColor('hover-white-bg-btn');
    }

    .btn-icon {
        margin-left: 12px;
    }

    .page-header__wrapper {
        margin-left: -69px;
    }
}
