@mixin tel {
    @media screen and (min-width: 480px) {
        @content;
    }
}

@mixin pre-tel {
    @media screen and (max-width: 479px) {
        @content;
    }
}

@mixin tab {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin pre-tab {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin desk {
    @media screen and (min-width: 1280px) {
        @content;
    }
}

@mixin pre-desk {
    @media screen and (max-width: 1279px) {
        @content;
    }
}
