body {
  background-color: getColor('bg-primary');
  font-family: DM Sans, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    display: block;
    text-decoration: none;
}
button {
    cursor: pointer;
    font-family: inherit;
    border: none;
}
