<div class="backdrop backdrop-about is-hidden">
    <div class="about__modal">
        <button class="about__close-btn" type="button">
            <svg class="close">
                <use href="./images/about/close.svg#icon-close"></use>
            </svg>
        </button>

        <p class="about__modal-title">how it’s made?</p>
        <p class="about__modal-text-main">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
            cursus, faucibus lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.</p>
        <p class="about__modal-text-second">Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
            tincidunt.
            Aliquam erat volutpat. Aenean accumsan. Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
            tincidunt.
            Aliquam erat volutpat. Aenean accumsan. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
            veritatis vitae tempore adipisci quae quisquam praesentium ex obcaecati ea esse.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi eligendi repellat iusto impedit ab illum
            suscipit totam ipsa aliquam possimus.

        </p>

    </div>
</div>