<section class="advantages-section" id="about">
    <div class="container-advantages">
    <h2 class="visually-hidden">Advantages</h2>
    
        <ul class="advantages-list">
            <li class="advantages-item">
                <p class="advantages-content milk-icon">
                    <span class="advantages-amount">721</span>
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
            <li class="advantages-item apple-icon">
                <p class="advantages-content">
                    <span class="advantages-amount">16kg</span>
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
            <li class="advantages-item heart-icon">
                <p class="advantages-content">
                    <span class="advantages-amount">84</span>
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
        </ul>
        
    </div>

</section>