<section class="contacts-section">
    <div class="container" id="contact">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="contacts-cards-list">
            <li class="contacts-cards-item">
                <p class="contacts-card__pre-title">CAFE</p>
                <h3 class="contacts-card__title">Chicago</h3>
                <p class="contacts-card__after-title">
                    Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
                <ul class="contacts-card-schedule-list">
                    <li class="contacts-card-schedule-item">
                        <p class="contacts-card-schedule__title">Monday - Friday</p>
                        <p class="contacts-card-schedule__content">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts-card-schedule-item">
                        <p class="contacts-card-schedule__title">Saturday - Sunday</p>
                        <p class="contacts-card-schedule__content">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="contacts-card-contacts-list">
                    <li class="contacts-card-contacts-item">
                        <a class="contacts-card-contacts__link" href="tel:+61(0)383766284"
                            >+61(0) 383 766 284</a
                        >
                    </li>
                    <li class="contacts-card-contacts-item">
                        <a class="contacts-card-contacts__link" href="mailto:noreply@envato.com"
                            >noreply@envato.com</a
                        >
                    </li>
                </ul>
            </li>
            <li class="contacts-cards-item">
                <p class="contacts-card__pre-title contacts-card__pre-title-2nd">FOODTRUCK</p>
                <h3 class="contacts-card__title">Los Angeles</h3>
                <p class="contacts-card__after-title">
                    Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
                <ul class="contacts-card-schedule-list">
                    <li class="contacts-card-schedule-item">
                        <p class="contacts-card-schedule__title">Monday - Friday</p>
                        <p class="contacts-card-schedule__content">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts-card-schedule-item">
                        <p class="contacts-card-schedule__title">Saturday - Sunday</p>
                        <p class="contacts-card-schedule__content">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="contacts-card-contacts-list">
                    <li class="contacts-card-contacts-item">
                        <a class="contacts-card-contacts__link" href="tel:+61(0)383766284"
                            >+61(0) 383 766 284</a
                        >
                    </li>
                    <li class="contacts-card-contacts-item">
                        <a class="contacts-card-contacts__link" href="mailto:noreply@envato.com"
                            >noreply@envato.com</a
                        >
                    </li>
                </ul>
            </li>
            <li class="contacts-cards-item">
                <p class="contacts-card__pre-title">CAFE</p>
                <h3 class="contacts-card__title">New York</h3>
                <p class="contacts-card__after-title">
                    Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
                <ul class="contacts-card-schedule-list">
                    <li class="contacts-card-schedule-item">
                        <p class="contacts-card-schedule__title">Monday - Friday</p>
                        <p class="contacts-card-schedule__content">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts-card-schedule-item">
                        <p class="contacts-card-schedule__title">Saturday - Sunday</p>
                        <p class="contacts-card-schedule__content">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="contacts-card-contacts-list">
                    <li class="contacts-card-contacts-item">
                        <a class="contacts-card-contacts__link" href="tel:+61(0)383766284"
                            >+61(0) 383 766 284</a
                        >
                    </li>
                    <li class="contacts-card-contacts-item">
                        <a class="contacts-card-contacts__link" href="mailto:noreply@envato.com"
                            >noreply@envato.com</a
                        >
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="contacts-btn-list">
            <li class="contacts-btn-item">
                <button class="contacts-btn">
                    Our Locations
                    <svg class="contacts-btn__icon1">
                        <use href="./images/icons-svg.svg#icon-contacts-btn-1"></use>
                    </svg>
                </button>
            </li>
            <li class="contacts-btn-item">
                <button class="contacts-btn contacts-white-btn">
                    Franchise
                    <svg class="contacts-btn__icon2">
                        <use href="./images/icons-svg.svg#icon-contacts-btn-2"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>
