<section class="customer-review">
    <div class="container__customer swiper mySwiper">
        <ul class="customer-review__list swiper-wrapper">
            <li class="customer-review__item swiper-slide">
                <img class="customer-review__img" src="./images/customer3.png" alt="">
                <div class="customer-review__blok__content">
                    <p class="customer-review__content"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                        In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <p class="customer-review__content-name">Emily, Los Angeles</p>
            </li>
            <li class="customer-review__item swiper-slide">
                <img class="customer-review__img" src="./images/customer2.png" alt="">
                <div class="customer-review__blok__content">
                    <p class="customer-review__content"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                        In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <p class="customer-review__content-name">Sophie, New York</p>
            </li>
            <li class="customer-review__item swiper-slide">
                <img class="customer-review__img" src="./images/customer1.png" alt="">
                <div class="customer-review__blok__content">
                    <p class="customer-review__content"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                        In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <p class="customer-review__content-name">Lilyan, Chicago</p>
            </li>


    </ul>
    <div class="swiper-pagination"></div>

    </div>

</section>