<section class="customer-review">
    <h2 class="visually-hidden"> Customers Review</h2>
    <div class="container__customer">
        <div class="swiper mySwiper">
            <ul class="customer-review__list swiper-wrapper ">
                <li class="customer-review__item swiper-slide">
                    <img srcset="./images/customer3.png 1x, ./images/customer3-2x.png 2x" src="./images/customer3.png" alt="Фото пользователя" />
                    <div class="customer-review__blok__content">
                        <p class="customer-review__content"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                            In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                    <p class="customer-review__content-name">Emily, Los Angeles</p>
                </li>
                <li class="customer-review__item swiper-slide">
                    <img srcset="./images/customer2.png 1x, ./images/customer2-2x.png 2x" src="./images/customer3.png"
                        alt="Фото пользователя" />
                        <div class="customer-review__blok__content">
                        <p class="customer-review__content"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                            In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                    <p class="customer-review__content-name">Sophie, New York</p>
                </li>
                <li class="customer-review__item swiper-slide">
                    <img srcset="./images/customer1.png 1x, ./images/customer1-2x.png 2x" src="./images/customer3.png"
                        alt="Фото пользователя" />
                    <div class="customer-review__blok__content">
                        <p class="customer-review__content"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                            In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                    <p class="customer-review__content-name">Lilyan, Chicago</p>
                </li>
            </ul>
        <div class="swiper-pagination"></div>

        </div>
    </div>
</section>