<section class="gallary-section">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery-container ">
    <picture >
            <source srcset="
                                ./images/gall-desktop.png 1x,
                                ./images/gall-desktop-x2.png 2x
                                " media="(min-width: 1280px)" />
            <source srcset="
                                ./images/gall-tablet.png 1x,
                                ./images/gall-tablet-x2.png 2x
                                " media="(min-width: 768px)" />
            <source srcset="
                                ./images/gall-mobile.png 1x,
                                ./images/gall-mobile-x2.png 2x
                                " media="(min-width: 320px)" />
        
            <img class="gllary-picture" src="./images/gall-desktop.png" alt="Галлерея ">
    </picture>
    </div>
</section>
