<header class="page-header">
  <div class="container-header">
    <div class="page-header__wrapper">
      <a id="home" class="page-header__logo" href=""><img class="page-header__logo-img" src="../src/images/logo.png" alt="Logo">ICECREAM</a>
      <button class="page-header__open-menu-btn" data-menu-button>
        <svg width="20" height="12">
          <use href="./images/icons-svg.svg#icon-burger-menu-btn"></use>
        </svg>
      </button>
      <button class="page-header__open-modal-btn header-btn">Buy now
        <svg class="btn-icon" width="5" height="8">
          <use href="./images/icons-svg.svg#icon-btn-icon"></use>
        </svg>
      </button>
    </div>
    <div class="backdrop-menu" data-menu>
      <div class="page-header__menu">
        <button class="page-header__close-btn" data-menu-close-button>
          <svg width="14" height="14">
            <use href="./images/icons-svg.svg#icon-close"></use>
          </svg>
        </button>
        <button class="page-header__open-modal-btn">Buy now
          <svg class="btn-icon" width="5" height="8">
            <use href="./images/icons-svg.svg#icon-btn-icon"></use>
          </svg>
        </button>
        <nav class="page-header__navigation">
          <ul class="navigation-list">
            <li class="navigation-list__item"><a class="navigation-list__link" href="#home">Home</a></li>
            <li class="navigation-list__item"><a class="navigation-list__link" href="#about">About us</a></li>
            <li class="navigation-list__item"><a class="navigation-list__link" href="#process">How it’s made?</a></li>
            <li class="navigation-list__item"><a class="navigation-list__link" href="#products">Our products</a></li>
            <li class="navigation-list__item"><a class="navigation-list__link" href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    
  </div>
</header>