
    <section class="hero">
        <div class="container">
            <h1 class="hero__title">ICE CREAM <br> MADE WITH <br> <span class="title-part">PASSION</span></h1>
            <ul class="hero__list">
                <li class="hero__list-item">
                    <button class="hero__btn">
                    <a class="hero__list-link hero__list-link--red-link" href="">Products</a>
                    </button>
                </li>
                <li class="hero__list-item">
                    <button class="hero__btn hero__btn--red-btn">
                    <a class="hero__list-link" href="">How it’s made?</a>
                    </button>
                </li>
            </ul>
        </div>
    </section>
