<section class="products section">
    <div class="container">
        <p class="products__header-label">100% natural</p>
        <h2 class="products__header" id="products_header">products</h2>
        <ul class="products__list">
            <li class="products__item">
                <h3 class="products__name">ice cream</h3>
                <p class="products__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna aliqua facilisis.
                </p>
                <button>></button>
            </li>
            <li class="products__item">
                <h3 class="products__name">ice coffee</h3>
                <p class="products__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna aliqua facilisis.
                </p>
                <button>></button>
            </li>
            <li class="products__item">
                <h3 class="products__name">milkshakes</h3>
                <p class="products__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna aliqua facilisis.
                </p>
                <button>></button>
            </li>
            <!-- <li class="products__item">1</li>
            <li class="products__item">2</li>
            <li class="products__item">3</li> -->
        </ul>
    </div>
</section>
