<section class="products section" id="products">
    <div class="container-proucts">
        <p class="products__header-label">100% natural</p>
        <h2 class="products__header" id="products_header">products</h2>
        <ul class="products__list">
            <li class="products__item">
                <h3 class="products__title">ice cream</h3>
                <p class="products__content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna aliqua facilisis.
                </p>
                <input type="checkbox" id="read-more" hidden />
                <p class="extra-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem, ea non
                    commodi tempore officiis nulla voluptatum a ut molestiae eius ipsam iste quasi
                    illum ab illo amet vero possimus? Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                </p>
                <label class="products__button read-more" for="read-more">
                    <svg class="products__icon" width="16px" height="16px">
                        <use href="./images/icons-svg.svg#icon-right-arrow-products"></use>
                    </svg>
                </label>
            </li>
            <li class="products__item">
                <h3 class="products__title">ice coffee</h3>
                <p class="products__content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna aliqua facilisis.
                </p>
                <input type="checkbox" id="read-more-second" hidden />
                <p class="extra-text-second">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem, ea non
                    commodi tempore officiis nulla voluptatum a ut molestiae eius ipsam iste quasi
                    illum ab illo amet vero possimus?
                </p>
                <label class="products__button read-more-second" for="read-more-second">
                    <svg class="products__icon" width="16px" height="16px">
                        <use href="./images/icons-svg.svg#icon-right-arrow-products"></use>
                    </svg>
                </label>
            </li>
            <li class="products__item">
                <h3 class="products__title">milkshakes</h3>
                <p class="products__content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna aliqua facilisis.
                </p>
                <input type="checkbox" id="read-more-third" hidden />
                <p class="extra-text-third">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem, ea non
                    commodi tempore officiis nulla voluptatum a ut molestiae eius ipsam iste.
                </p>
                <label class="products__button read-more-third" for="read-more-third">
                    <svg class="products__icon" width="16px" height="16px">
                        <use href="./images/icons-svg.svg#icon-right-arrow-products"></use>
                    </svg>
                </label>
            </li>
        </ul>
    </div>
</section>
