.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);;
    transition: opacity 250ms, visibility 250ms;
    backdrop-filter: blur(5px);
    z-index: 10;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form__head {
    font-weight: 500;
    font-size: 35px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.05em;
    text-align: center;
    color: #D41443;
    margin-bottom: 12px;
    font-family: Titan One;
}

.modal-form__field {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--second-text-color);
    margin-bottom: 10px;
}

.modal-form__wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
}

.modal-form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 14px;
    padding: 0 10px 0 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border-color: #D41443;
    }
}

.modal-form__message {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 14px;
    margin-top: 4px;
    resize: none;
    padding: 12px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border-color: #D41443;
    }
    
    &::placeholder {
        font-family: inherit;
        font-weight: 400;
    }
}

.modal-form__button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffb8ca;
    background-color: #212121;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #D41443;
        color: #fff
    }
}

.modal {
    width: calc(100% - 30px);
    background-color: #FFF5F6;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    opacity: 1;

    padding: 40px;
    z-index: 100;

    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        @media screen and (max-width: 679px) {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 420px;
        transform: translate(-50%,-50%) scale(1);
    }


        @media screen and (min-width: 680px) {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 450px;
            transform: translate(-50%,-50%) scale(1);
        }

        @media screen and (min-width: 1200px) {
            position: absolute;
            width: 528px;
        }
}

.modal__close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: inherit;
    background-color: #ffb8ca;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #fff;

    &:hover,
    &:focus {
        background-color: #D41443;
        
    }
}

.modal__close-icon {
    fill: white
}

.backdrop.is-hidden .modal {
    transform: translate(-50%,-50%) scale(0,9);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
